<head>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   
   <body>

      

       <section>
        <article class="article">
          <img class="imageOne" src="../assets/cloudy.png" width="100px" height="100px" >

          <div class="weatherApp">
            WeatherApp
      
            <span  data-text="WeatherApp"></span>
            <span  data-text="WeatherApp"></span>
            <div class="box-2">
              <div class="btn btn-two">
      
                <span  (click)="GoTo()">Start</span>
              </div>
            </div> 
          </div>
        </article>
      </section>
     

    </body>

